// Other Scss

.other-section {
    padding-top: 180px;
    padding-bottom: 76px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    @include mobile {
        padding-top: 96px;
        padding-bottom: 56px;
    }
    & .mesh {
        width: 1770px;
        height: 1770px;
        position: absolute;
        z-index: -10;
        top: 50%;
        left: 50%;
        margin-top: -216px;
        transform: translate(-50%,-50%);
        @include mobile {
            width: 814px;
            height: 814px;
            bottom: auto;
            top: 406px;
        }
    }
    & .block {
        display: flex;
        flex-direction: column;
        align-items: center;
        & .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            max-width: 700px;
            width: 100%;
            & h1 {
                margin-bottom: 24px;
                @include mobile {
                    margin-bottom: 8px;
                }
            }
            & p + p {
                margin-top: 24px;
                @include mobile {
                    margin-top: 8px;
                }
            }
        }
    }
}

.article-section {
    padding: 80px 0;
    @include tablet {
        padding: 64px 0;
    }
    @include mobile {
        padding: 48px 0;
    }
    & .block {
        background-color: $gray-25;
        padding: 44px 108px 44px 24px;
        border-radius: 24px;
        @include tablet {
            padding: 44px 24px;
        }
        @include mobile {
            padding: 24px 16px;
        }
        & h4 {
            color: $gray-900;
            text-transform: uppercase;
            font-weight: 600;
            margin-top: 32px;
            &:first-child {
                margin-top: 0;
            }
        }
        & p {
            color: $gray-600;
            margin-top: 16px;
            padding-left: 24px;
            @include mobile {
                padding-left: 16px;
            }
            &:first-child {
                margin-top: 0;
            }
            & b {
                font-weight: 500;
                color: $gray-900;
            }
            &+ul {
                margin-top: 16px;
            }
        }
        & .pl-0 {
            padding-left: 0 !important;
        }
        & ol {
            color: $gray-600;
            margin-top: 8px;
            list-style-type: lower-alpha;
            padding-left: 52px;
            @include mobile {
                padding-left: 48px;
            }
            &.number {
                list-style-type: decimal;
            }
        }
        & ul {
            color: $gray-600;
            list-style-type: disc;
            padding-left: 24px;
            @include mobile {
                padding-left: 16px;
            }
        }
    }
}
