// Retailers SCSS
.retailers-section {
    padding-top: 124px;
    position: relative;
    z-index: 0;
    &:after {
        content: '';
        width: 1470px;
        height: 1470px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background: linear-gradient(141deg, rgba($gradient-start, 0.1) 0%, rgba($gradient-stop, 0.1) 100%);
        filter: blur(177.07037353515625px);
        z-index: -10;
        @include mobile {
          width: 898px;
          height: 898px;
        }
    }
    & .block {
        display: flex;
        align-items: center;
        gap: 40px;
        @include tablet {
          flex-direction: column;
          gap: 80px;
        }
        & .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: -20px;
            @include tablet {
              margin-top: 0;
              align-items: center;
            }
            & .display {
                max-width: 590px;
                margin-bottom: 16px;
                @include tablet {
                  max-width: 100%;
                  text-align: center;
                }
            }
            & > p {
                max-width: 500px;
                margin-bottom: 48px;
                @include tablet {
                  max-width: 100%;
                  text-align: center;
                }
                @include mobile {
                  margin-bottom: 24px;
                }
            }
            & .button {
              @include mobile {
                width: 100%;
              }
            }
            & .fetaures {
                margin-top: 90px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 48px;
                @include mobile {
                  grid-template-columns: 1fr;
                  margin-top: 80px;
                  padding: 0 16px;
                  gap: 24px;
                }
                & li {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    position: relative;
                    &:not(:last-child):after {
                      position: absolute;
                      height: 100px;
                      width: 1px;
                      content: '';
                      right: -24px;
                      top: 50%;
                      transform: translateY(-50%);
                      background-color: $primary-25;
                      @include mobile {
                        display: none;
                      }
                    }
                    & h4 {
                        font-weight: 700;
                        font-size: 24px;
                        @include mobile {
                          font-size: 20px;
                        }
                    }
                }
            }
        }
        & .image {
            flex-shrink: 0;
            margin-right: -20px;
            @include tablet {
              max-width: 400px;
            }
            @include mobile {
              max-width: 300px;
              margin-right: 0px;
              margin-bottom: 48px;
            }
        }
    }
}
